NEXT_PUBLIC_SITE_URL=https://www.b2bleadgenerationtools.com
NEXT_PUBLIC_GA_ID=
CONVERTKIT_API_KEY=
CONVERTKIT_FORM_ID=
GSC_CLIENT_ID=
GSC_CLIENT_SECRET=
GSC_REDIRECT_URI=http://localhost:3000/callback
